.root {
  --bg_color: cadetblue;
  --text_color: black;
  --secondary_color: rgb(214, 231, 193);
  --highlight_color: rgba(23, 39, 4, 0.2);
}

.theme1 {
  --bg_color: rgb(222, 153, 163);
  --text_color: white;
  --secondary_color: rgb(100, 27, 60);
  --highlight_color: rgba(216, 120, 163, 0.2);
}

.theme2 {
  --bg_color: rgb(72, 72, 150);
  --text_color: black;
  --secondary_color: rgb(171, 154, 237);
  --highlight_color: rgba(26, 8, 96, 0.2);
}

.theme3 {
  --bg_color: rgb(215, 142, 81);
  --text_color: white;
  --secondary_color: rgb(100, 60, 27);
  --highlight_color: rgba(210, 147, 94, 0.2);
}

*{
  outline: none;
}

body{
  background-color:var(--bg_color);
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  padding: 0px;
  color: var(--text_color);
  font-size: 16pt;
  width: 100%;
  line-height: 1.2;
}

header{
  display: flex;
  padding: 1em;
  display: flex;
  text-indent: 1em;
  justify-content: space-between;
  background-color:var(--secondary_color);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16pt;
}

nav p {
  margin: 0.5em;
  line-height: 1.1;
}

li a, li a:visited{
  display: block;
  text-align: left;
  text-decoration: none;
  padding: 0.7em;
  color: var(--text_color);
}

nav li {
  float: left;
  list-style-type: none;
}

#current-time {
  margin-top: 0.3em;
  font-size: 16pt;
  text-align: right;
  line-height: 8pt;
}

#timer-display{
  width: 50%;
  margin-left: 20%;
  padding: 5%;
  padding-bottom: 10%;
  border-radius: 25px;
  background-color: var(--secondary_color);
  position: relative;
}

#alarm-display {
  width: 25%;
  height: 22em;
  margin-left: 10%;
  padding: 5%;
  border-radius: 25px;
  background-color: var(--secondary_color);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 2em;
}

.side-by-side{
  display: flex;
}

.clockface {
  font-size: 50pt;
  justify-content:center;
  width: 100%;
  display: flex;
  position: static;
  align-items: center;
  text-align: center;
}

.alarmclock{
  display: flex;
  font-size: 40pt;
  font-weight: bold;
  align-items: baseline;
  justify-content: center;
}

select {
  background-color: var(--secondary_color);
  border: none;
  font-size: 40pt;
  font-weight: bold;
  height: min-content;
  margin-left: 0.2em;
  color: var(--text_color)
}

.milliseconds {
  margin-top: 0.4em;
  display: flex;
}

button{
  padding: 1em 2em;
  margin: 0 4em 0 4em ;
  font-size: 16pt;
  background-color: var(--secondary_color);
  border: none;
  border-radius: 10px;
  color: var(--text_color);
}

button:hover{
  cursor: pointer;
}

.start-button:hover{
  background-color:rgb(99, 187, 158);
}
.pause-button:hover{
  background-color:rgb(245, 189, 85);
}
.stop-button:hover{
  background-color:rgb(231, 99, 99);
}

#theme-button {
  position: fixed;
  bottom: 0.5em;
  right: 0.5em;
  margin: 0;
  font-size: 12pt;
}

#alarm-name, #date{
  width: 100%;
  font-size: 14pt;
  padding: 8pt;
  border: 3px solid var(--bg_color);
  border-radius: 10px;
}

#alarm-display button{
  background-color: white;
  color: black;
}

#date{
  margin-bottom: 0.7em;
  display: block;
}

.days button{
  border-radius: 100%;
  padding: 0;
  width: 2em;
  height: 2em;
  margin: 0;
  aspect-ratio: 1 / 1;
  max-width: 2.5em;
}

.days {
  display: none;
  justify-content: space-between;
  align-items: center;
  gap: 0em;
  width: 100%;
  margin: 0;
  padding: 0.5em 0 0.5em 0;
  box-sizing: border-box;
}

.checkbox {
  display: flex;
  gap: 0.5em;
}

.checkbox input{
  width: 1.5em;
  margin: 0;
}

.checkbox input:checked {
  accent-color: var(--bg_color);
}

#list_alarms{
  overflow-y: scroll;
  max-height: 27.5em;
  width: 30%;
  margin-left: 10%;
  padding: 2%;
  border-radius: 25px;
  background-color: var(--secondary_color);
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.newAlarm{
  background-color: var(--highlight_color);
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 10px;
}

.newAlarm div{
  display:flex;
  gap: 1em;
  align-items: baseline;
}

.newAlarm h2{
  margin: 10pt 0 4pt 0;
}

.newAlarm p{
  margin: 0 0 10pt 0;
}

.newAlarm button{
  background-color: rgba(0, 0, 0, 0);
  padding:0%;
  margin:0;
}