.root {
  --bg_color: cadetblue;
  --text_color: black;
  --secondary_color: rgb(234, 250, 215);
}

.theme1 {
  --bg_color: rgb(222, 153, 163);
  --text_color: white;
  --secondary_color: rgb(100, 27, 60);
}

.theme2 {
  --bg_color: rgb(215, 142, 81);
  --text_color: white;
  --secondary_color: rgb(100, 60, 27);
}

.theme3 {
  --bg_color: rgb(71, 70, 152);
  --text_color: black;
  --secondary_color: rgb(149, 128, 232)
}

body{
  background-color:var(--bg_color);
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  padding: 0px;
  color: var(--text_color);
  font-size: 16pt;
  width: 100%;
  line-height: 1.2;
}

header{
  display: flex;
  padding: 1em;
  display: flex;
  text-indent: 1em;
  justify-content: space-between;
  background-color:var(--secondary_color);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16pt;
}

nav p {
  margin: 0.5em;
  line-height: 1.1;
}

li a, li a:visited{
  display: block;
  text-align: left;
  text-decoration: none;
  padding: 0.7em;
  color: var(--text_color);
}

nav li {
  float: left;
  list-style-type: none;
}

#current-time {
  margin-top: 0.3em;
  font-size: 16pt;
  text-align: right;
  line-height: 8pt;
}

#timer-display{
  width: 50%;
  margin-left: 20%;
  padding: 5%;
  padding-bottom: 10%;
  border-radius: 25px;
  background-color: var(--secondary_color);
  position: relative;
}

.clockface{
  font-size: 50pt;
  justify-content:center;
  width: 100%;
  display: flex;
  position: static;
  align-items: center;
  text-align: center;
}

.milliseconds {
  margin-top: 0.4em;
  display: flex;
}

button{
  padding: 1em 2em;
  margin: 0 4em 0 4em ;
  font-size: 16pt;
  background-color: var(--secondary_color);
  border: none;
  border-radius: 10px;
  color: var(--text_color);
}

button:hover{
  cursor: pointer;
}

.start-button:hover{
  background-color:rgb(99, 187, 158);
}
.pause-button:hover{
  background-color:rgb(245, 189, 85);
}
.stop-button:hover{
  background-color:rgb(231, 99, 99);
}

#theme-button {
  position: fixed;
  bottom: 0.5em;
  right: 0.5em;
  margin: 0;
  font-size: 12pt;
}